doctype html
html
  head
    title= 'Hämeenlinnan pallokerho'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - HPK
    br
    a(href='/stats') HPK goalscorers
    br
    a(href='/pallokerho') HPK lineups

    block content
